.forget-pass-form {
  background: rgb(249, 255, 192);
  background: linear-gradient(
    302deg,
    rgba(249, 255, 192, 1) 0%,
    rgba(189, 255, 251, 1) 100%
  );

  padding: 15px;
  border: 3px solid rgb(128, 128, 255);
  width: 35em;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(66, 66, 66), 9px 9px 9px rgb(253, 253, 204);
}
.forget-pass-form-title {
  font-size: 2.5em;
  font-family: arial;
  font-weight: 700;
  color: rgb(128, 128, 255);
}
.email-title {
  font-family: arial;
  font-size: 1.4em;
  font-weight: bold;
}
.email-error {
  background-color: rgb(249, 138, 138);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}
.forget-pass-btn {
  font-size: 1.1em;
  font-weight: 700;
  width: 10em;
  background-color: rgb(147, 147, 255);
  border-radius: 10px;
}

.success-send {
  background: rgb(106, 255, 106);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}

.failed-send {
  background-color: rgb(249, 138, 138);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}
