.reset-password-form {
  background: rgb(146, 209, 244);
  background: linear-gradient(
    9deg,
    rgba(146, 209, 244, 1) 30%,
    rgba(239, 244, 180, 1) 63%
  );
  padding: 15px;
  border: 3px solid rgb(128, 128, 255);
  width: 35em;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgb(66, 66, 66), 9px 9px 9px rgb(253, 253, 204);
}

.reset-password-title {
  font-family: arial;
  font-weight: 700;
  color: rgb(128, 128, 255);
}

.password-title {
  font-family: arial;
  font-size: 1.4em;
  font-weight: bold;
}
.reset-password-btn {
  font-size: 1.1em;
  font-weight: 700;
  width: 10em;
  background-color: rgb(147, 147, 255);
  border-radius: 10px;
}

.password-error {
  background-color: rgb(249, 138, 138);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}

.failed-send {
  background-color: rgb(249, 138, 138);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}

.success-send {
  background: rgb(106, 255, 106);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
}
